/* Style me plz */

BODY.loading,
BODY.loading A {
    cursor: progress !important;
}

li {
	float: left;
	margin: 10px;
}

p {
	margin-bottom:10px;
}

#new_user {
	margin:20px;
}
fieldset {
	border:1px solid #666;
	padding:20px;
}
